Package: smash
Version: -1
Section: embedded
Priority: optional
Architecture: all
Essential: no
Depends: python (>= 2.4), python-serial(>=2.3), python-gtk2 (>= 2.12), python-dbus (>= 0.82), python-glade2 (>= 2.17)
Installed-Size: 460
Maintainer: Zilogic Systems <code@zilogic.com>
Description: 8051 In-System Programming tool
 Smash is an 8051 micro-controller In-System Programming (ISP) tool,
 for Philips and NXP micro-controllers. The currently supported
 micro-controllers include P89V660, P89V662, P89V664, P89V51RB2,
 P89V51RC2, P89V51RD2.
